* {
    color: #283618;
    font-family: monospace;
    background-color: #606c38;
   }
   .container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
    grid-gap: 5px;

   }
   
   h1 {
    color: #fefae0;
    font-size: 4rem;
   }
   button{
     background-color: #dda15e;
     font-size: 1.5rem;
     border-radius: 15px;
     padding: 5px;
   }
   
   button:hover {
     background-color: #bc6c25;
     cursor: pointer;
     color:  #fefae0;
   }
   
   input {
     background-color: #fefae0;
     font-size: 2rem;
     border-radius: 15px;
   }
   
   p {
     color: #283618;
     font-size: 2rem;
     font-weight: bold;
     background-color: #fefae0;
     border-radius: 15px;
     padding: 10px;
   
   }